.Expense-Text{
  display: flex;
}


.Expense-p{
  color: yellow;
}
.expense-btn {
  background: linear-gradient(90deg, #FF9595, #FF4747, #FF3838); /* Linear gradient from left to right */
  width: 100%;
  border: none; 
  border-radius: 4px;
  color: aliceblue;
}
